# To install libs automatically run commend in your virtual enviroment
# Run commend in main project directory
# $ pip install -r requirements.txt
# python==3.9.15
flask==2.1.3
flask-login==0.6.2
# werkzeug==2.0.3
pandas==1.4.3
numpy==1.23.1
sqlalchemy==1.4.39
flask-sqlalchemy==2.5.1
plotly==5.9.0
dash==2.7.0
pdfkit==1.0.0
scipy==1.10.0