{% extends "base.html" %} {% block title %}Generated report{% endblock %} 
{% block content %}

    <h1 align="center">Generated report</h1>
    <br/>
    {% if showSummaryTable %}
    <h3 align="center">Summary statistics</h3>
    <div align="center">
        <table>
            <h1>
            <!--Displaying the converted table-->
                {% for table in tables %}                          
                {{ table|safe }}
                {% endfor %}
            </h1> 
        </table>
    </div>
    {% endif %}
    
    <br/>
    <div>
    {% for i in range(chartsQuantity)%}
        <h4 align="center">Figure {{i+1}}: {{titles[i]}}</h4>
        <div id="chartAvg{{i}}" class='chartAvg{{i}}'></div>
    {% endfor %}
    <div>

    
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var graphs = {{graphJSON | safe}};
        Plotly.plot('chart',graphs,{});
    </script>

    <!-- <script type='text/javascript'>
        let graphs1 = {{graphJSONtable | safe}};
        for (i in graphs1){ 
            Plotly.plot('chartAvg'+i, graphs1[i].data, graphs1[i].layout || {}); 
        }
    </script> -->

    <script type='text/javascript'>

        {% for chartsQ in range(chartsQuantity)%}
        var graphs{{chartsQ}} = {{graphJSONtable[chartsQ] | safe}};
        Plotly.plot('chartAvg{{chartsQ}}', graphs{{chartsQ}}, {});
        {% endfor%}

    </script>

{% endblock %}