{% extends "base.html" %} {% block title %}Generated report{% endblock %} 
{% block content %}

    <h1 align="center">Generated report</h1>

    <div>
        <div id='chart' class='chart'”></div>
        <p>
            Testowy wykres
        </p>
    </div>

    
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var graphs = {{graphJSON | safe}};
        Plotly.plot('chart',graphs,{});
    </script>

    <script>
        let g1 = {{graphJSON | safe}};
        for (i in g1){ 
            Plotly.plot('chartAvg'+i, g1[i].data, g1[i].layout || {}); 
        }
    </script>

{% endblock %}