{% extends "base.html" %} {% block title %}Visualisation{% endblock %} 
{% block content %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 

<script>
    $(document).ready(function() {
      
    var MaxCharts       = 8; //maximum input boxes allowed
    var InputsWrapper   = $("#InputsWrapper"); //Input boxes wrapper ID
    var AddButton       = $("#AddMoreFileBox"); //Add button ID
      
    var x = InputsWrapper.length; //initlal text box count
    var FieldCount=1; //to keep track of text box added
      
    $(AddButton).click(function (e)  //on add input button click
    {
            if(x <= MaxCharts) //max input box allowed
            {
                FieldCount++; //text box added increment
                //add input box

                $(InputsWrapper).append('<div>'+
                    '<hr width="100%"/>'+
                    '<div class="plot-option-choose">'+
                    '<label> Choose your chart '+FieldCount+': </label> '+
                    '<br/>'+
                    '<select class="form-select form-select-sm"'+
                        'aria-label=".form-select-sm example"'+
                        'id="select-column-to-change_'+FieldCount+'"'+
                        'name="optionChartSelected[]"'+
                        'style="height: 35px;">'+
                        '<option selected>Select chart type</option>'+
                        '{% for optionToSelect in optionsToSelect %} '+
                            '<option value= {{ optionToSelect }} >{{optionToSelect}}</option>'+
                        '{% endfor %}'+
                    '</select>'+
                    '</div>'+
                    '<label id="parameters-label"> Choose your parameters: </label> '+
                    '<div class="chartsOptionFields">'+

                        '<label class="field-labels-first" for="x_'+FieldCount+'">X_'+FieldCount+':</label>'+
                        '<input type="text" class="input-field-parameters" id="x_'+FieldCount+'" name="x[]" placeholder="Enter your X_'+FieldCount+'(column name)"/>'+

                        '<label class="field-labels" for="y_'+FieldCount+'">Y_'+FieldCount+':</label>'+
                        '<input type="text" class="input-field-parameters" id="y_'+FieldCount+'" name="y[]" placeholder="Enter your Y_'+FieldCount+'(column name)"/>'+

                        '<label class="field-labels" for="color_'+FieldCount+'">color by column:</label>'+
                        '<input type="text" class="input-field-parameters" id="color_'+FieldCount+'" name="color[]" placeholder="Optional '+FieldCount+'(column name)"/>'+
                        
                    '</div>'+
                    '<div class="chartsOptionFields">'+
                        '<label class="field-labels-first" for="plot-title_'+FieldCount+'">Plot title:</label>'+
                        '<input type="text" class="title-input-field-parameters" id="plot-title_'+FieldCount+'" name="titles[]" placeholder="Enter plot title"/>'+
                    '</div>'+
                    '<div style="display: none;"></div>'+
                    '<a href="#" class="btn btn-danger removeclass">×</a>'+
                    '</div>');
                x++; //text box increment
            }
    return false;
    });
      
    $("body").on("click",".removeclass", function(e){ //user click on remove text
            if( x > 1 ) {
                    $(this).parent('div').remove(); //remove text box
                    x--; //decrement textbox
                    FieldCount--;
            }
    return false;})

    });
</script>


    {% if dataFound %}
    <h1 align="center">Visualization and reporting creator</h1>
    <div style="text-align:center;">
        <h3>List of data</h3>
        {% for filename in files%}
        <a href ="">{{filename}}</a><br />
        {% endfor%}
    </div>
    
    <div align="center">
        <table>
            <h1>
            <!--Displaying the converted table-->
                {% for table in tables %}                          
                {{ table|safe }}
                {% endfor %}
            </h1> 
        </table>
    </div>
    <br/>

    <div class="" align="center">
        <h3>Data transformation: </h3>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-md-2">
                    <a href="{{ url_for('transform.rename_columns') }}" class="btn btn-warning" role="button">Rename columns</a>
                </div>
                <div class=" col col-md-3">
                    <a href="{{ url_for('transform.standarization') }}" class="btn btn-warning" role="button">Standarizate a column</a>
                </div>
                <div class=" col col-md-2">
                    <a href="{{ url_for('transform.outliers') }}" class="btn btn-warning" role="button">Remove outliers</a>
                </div>
            </div>
            <br/>
            
        </div>
    </div>
    <br/>

    <h3 align="center"> Add your charts </h3>
    <div class="form-group">
        <form method="POST" name="add_charts" id="add_charts">
            <div class="chartsOptionFields">
                <label class="selectCheckBox" name="summaryCheckBox">
                    Print summary statisctics in report
                    <input type="checkbox" id="summary-checkBox" name="ifSummaryCheckbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <br/>

            <div id="InputsWrapper">
                <div class="plot-option-choose">
                    <label> Choose your chart: </label> 
                    <br/>
                    <select class="form-select form-select-sm"
                        aria-label=".form-select-sm example"
                        id="select-column-to-change"
                        name="optionChartSelected[]"
                        style="height: 35px;">
                        <option selected>Select chart type</option>
                        {% for optionToSelect in optionsToSelect %} 
                            <option value= {{ optionToSelect }} >{{optionToSelect}}</option>
                        {% endfor %}
                    </select>
                </div>
                <label id="parameters-label"> Choose your parameters: </label> 
                <div class="chartsOptionFields">

                    <label class="field-labels-first" for="x">X:</label>
                    <input type="text" class="input-field-parameters" id="x" name="x[]" placeholder="Enter your X(column name)"/>

                    <label class="field-labels" for="y">Y:</label>
                    <input type="text" class="input-field-parameters" id="y" name="y[]" placeholder="Enter your Y(column name)"/>

                    <label class="field-labels" for="color">color by column:</label>
                    <input type="text" class="input-field-parameters" id="color" name="color[]" placeholder="Optional(column name)"/>

                </div>
                <div class="chartsOptionFields">
                    <label class="field-labels-first" for="plot-title">Plot title:</label>
                    <input type="text" class="title-input-field-parameters" id="plot-title" name="titles[]" placeholder="Enter plot title"/>
                </div>
                <div style="display: none;"></div>
            </div>
            <div class="addMoreForms">
                <button type="button" name="add" id="AddMoreFileBox" class="btn btn-success">Add More</button>
            </div>

            <input type="submit" name="submit" id="submit" class="btn btn-info btn-lg" value="Generate report" />
        </form>
    
    {% else %}
    <div style="text-align:center;">
        <h3 style="color:red;">Having trouble to read your data. Pleas upload a file.</h3>
    </div>
    {% endif %}

{% endblock %}