{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content %}

    {% if dataFound %}
    <h1 align="center">Visualization and reporting creator</h1>
    <div style="text-align:center;">
        <h3>List of data</h3>
        {% for filename in files%}
        <a href ="">{{filename}}</a><br />
        {% endfor%}
    </div>

    <div align="center">
        <table>
            <h1>
            <!--Displaying the converted table-->
                {% for table in tables %}                          
                {{ table|safe }}
                {% endfor %}     
            </h1> 
        </table>
    </div>
    <br/>
    <br/>

    <div align="center">
        <h5>Current column names in table</h5>
        <p>{{ columnsNames }} </p>
    </div>

    <form method="POST">
        <div class="form-group">
            <label> Rename columns(enter new column names separated by ',')</label>
            <textarea name="columnNames" id="column-names" class="form-control" placeholder="ColumnName1,ColumnName2,ColumnName3,..."></textarea>
        </div>

        <label> Choose your chart: </label> 
        <br/>
        {{ form1.csrf_token }}
        {{ form1.chartType }}
        <br/><br/>

        <div class="form-group">
            <label for="x">X:</label>
            <input 
                type="text" 
                class="form-control" 
                id="x"
                name="x" 
                placeholder="Enter your X(column name)"
            />
        </div>

        <div class="form-group">
            <label for="y">Y:</label>
            <input 
                type="text" 
                class="form-control" 
                id="y"
                name="y" 
                placeholder="Enter your Y(column name)"
            />
        </div>

        <div class="form-group">
            <label for="color">color by column:</label>
            <input 
                type="text" 
                class="form-control" 
                id="color"
                name="color" 
                placeholder="Optional(column name)"
            />
        </div>

        <div align="center">
            <button type="submit" class="btn btn-primary"> Generate report </button>
        </div>
    </form>

    

    <div>
        <div id='chart' class='chart'”></div>
        <p>
            Testowy wykres
        </p>
    </div>

    <br/>
    <br/>
    
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var graphs = {{graphJSON | safe}};
        Plotly.plot('chart',graphs,{});
    </script>

    {% else %}
    <div style="text-align:center;">
        <h3 style="color:red;">No CSV file. First use the upload tab</h3>
    </div>

    {% endif %}

    

{% endblock %}