footer{
    position: fixed;
    height: 5vh;
    bottom: 0;
    padding: 1px;
    width: 100%;

    background-color: #343a40!important;
    text-align: center;
    color:#fff;
}

footer h2{
    font-size:medium;
}

footer h3{
    color: #fff;
    font-size: small;
}